@charset "utf-8";
/*初始化*/
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
textarea{resize: none;}
input,select,textarea{outline: none;border: none; background: none;}
a{color: #333; text-decoration:none; }

/*头部导航*/
.home-index-header{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
.home-index-logo{

    line-height: 3.5em;
    font-size: 20px;
    padding-left: 10%;
    color: #1c1f21;
}
.home-index-nav ul{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #424c50;
    text-align: center;
}
.home-index-nav ul li a{
    position: relative;
    font-size: 20px;
    color: #fff;
    padding: 0 20px;
    line-height: 2em;
}
.home-index-nav ul li{
    color: #fff;
    font-size: 25px;
    display: inline-block;
}
.home-index-main{
    background-color: #fff2df;
    width: 80%;
    margin: 0 auto;
    border: #ffb3a7 1px solid;
    border-radius: 8px;
    margin-top: 5px;
    overflow:hidden;
}
.home-index-hot{
    width: 90%;
    overflow:hidden;
    margin: 0 auto;
}
.home-index-art{
    position: relative;
    display: inline-block;
    width: 70%;
    height: 100%;
    float: left;
    clear: both;
}
.home-index-hot-article{
    width: 18%;
    height: 25%;
    float: left;
    border: #ffb3a7 1px solid;
    border-radius: 8px;
    font-size: 1em;
    color: #888888;
    margin-left: 1.2%;
}
.home-index-hot-article p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
}
.home-index-hot-article img{
    float: left;
    width: 100%;
    height: 200px;
}
.home-index-p p{
    font-size: 1.5em;
    padding-left: 10%;
    margin-top: 5%;
}
.home-index-tj{
    position: relative;
    height: 150px;
    padding: 20px 30px;
    border: #ffb3a7 1px solid;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 4%;
}
.home-index-tj img{
    width: 25%;
    height: 80%;
    float: left;
}
.home-index-article{
    width: 70%;
    display: inline-block;
}
.home-index-article h3{
    padding-left: 20px;
    padding-top: 10px;
}
.home-index-article p{

    padding-left: 20px;
    padding-top: 10px;
    font-size: 14px;
}
.keywords{
    float: left;
    width: 50%;
    height: 20%;
}
.keywords dd{
    display: inline-block;
    width: 25%;
    font-size: 14px;
    line-height: 37px;
    height: 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    color: #c93756;
}
.keywords dt {
    display: inline-block;
    width: 55px;
    line-height: 37px;
    height: 37px;
    float: left;
    padding-left: 20px;
    color: #8c4356;
}
.readmore{
    float: right;
    font-size: 1em;
    background-color: #009688;
    color: #fff;
    padding: 1%;
    margin-right: 4%;
}
.author{
    width: 100%;
    position: relative;
    float: left;
    height: 40px;
    line-height: 40px;
}
.author ul li{
    float: left;
    font-size: 14px;
    padding-right: 15px;
    height: 40px;
    line-height: 40px;
    color: #888888;
}
.author a{
    color: #888888;
}
.home-index-main>.home-nav{
    width: 30%;
    float: right;
}
.home-index-new{
    font-size: 16px;
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    margin-left: 30px;
    border: #ffb3a7 1px solid;
    border-radius: 8px;

}
.home-index-new p{
    font-size: 25px;
    padding: 10px;
}
.home-index-new a{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    line-height: 34px;
    float: right;
}
.home-index-new ul li{
    list-style-type: decimal;
    height: 34px;
    line-height: 34px;
    margin-left: 30px;
}
.home-index-links{
    display: inline-block;
    width: 80%;
    border: #ffb3a7 1px solid;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 30px;

}
.home-index-links p{
    font-size: 25px;
    padding: 10px;
}
.home-index-links ul{
    margin-left: 20px;

}
.home-index-bottom{
    width: 100%;
    background-color: #ffb3a7;
    height: 30px;
}
.bottom-box{
    width: 45%;
    margin: 0 auto;
}
.bottom-box p,a{
    display: inline-block;
    font-size: 14px;
    color: #888888;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
/*热门文章图片轮播*/
.mySlides{display: none;}

.slideshow-container{
    max-width:100%;
    max-height: 300px;
    margin: auto;
    padding-top: 10px;
    position: relative;

}
.slideshow-container img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* 定位 "下一张" 按钮靠右 */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/*描述文本*/
.text-description{
    color: #f2f2f2;
    font-size: 14px;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    opacity: 0;
}
.text-description:hover{
    opacity: 1;

}
    /* 标题文本 */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* 标记符号 */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* 淡出动画 */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.page-divide {
    margin-left: 40px;
}
.page-divide ul li{
    font-size: 30px;
    float: left;
    background-color:  #fff2df;
    padding: 6px 12px;
    color: #888888;
    border: #fff 1px solid;
}
.page-divide ul li a{
    color: #000;
}

/*文章详情页面*/
.new-art{
    border-right: #ffb3a7 1px double;
    padding-left: 5%;
    padding-right: 5%;
}
.new-art h3{
    height: 3em;
    line-height: 3em;
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}
.new-art ul{
    height: 1.5em;
    line-height: 1.5em;
    width: 100%;
    border: #ffb3a7 1px dashed;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 5%;
}

.new-art ul li {
    font-size: 14px;
    color: #888888;
    padding-left: 15px;
    display: inline-block;
}
.new-art p{
    font-size: 16px;
    margin-top: 1em;
}
.art-keywords{
    float: left;
    width: 100%;
    height: 2em;
    border: #ffb3a7 1px dashed;
    border-radius: 3px;
    clear: both;

}
.art-keywords dd{
    display: inline-block;
    font-size: 14px;
    line-height: 2em;
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #c93756;
    margin-left: 2%;
}
.art-keywords dt {
    display: inline-block;
    line-height: 2em;
    height: 2em;
    float: left;
    margin-left: 1%;
    color: #8c4356;
}
.art-next p{
    height: 1.5em;
    line-height: 1.5em;
    width: 100%;
    display: inline-block;
    color: #888888;
    margin-top: 1%;
}
.art-next a{
    color: #1c1f21;
}
.art-other{
    clear: both;
}
.art-other h4{
    margin-top: 3%;
    padding-bottom: 2%;
    width: 100%;
    border-bottom: #009688 2px solid;
}
.art-other ul{

    border: none;
}
.art-other ul li{
    width: 50%;
    float: left;
    padding-left: 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.art-other a{
    color: #1c1f21;
}


